/* Write your CSS here */
.planet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 405px;
  height: 290px;
  border-radius: 5px;
}
.name {
  color: #f8f8f8;
  font-family: 'Roboto';
  font-size: 32px;
  margin-top: 40px;
}

.description {
  font-size: 20px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  max-width: 800px;
  text-align: center;
  color: #f1f5f9;
}
